<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Student app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC78F69D1FAB598800F167F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC78F6B11FAB598900F167F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC78F6BC1FAB598A00F167F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
